apiVersion: v1
clusters:
- cluster:
    certificate-authority: /root/.kube/grey.ca.crt
    server: https://192.168.124.61:6443
  name: grey-kubernetes
contexts:
- context:
    cluster: grey-kubernetes
    namespace: holborn
    user: grey-kubernetes
  name: grey
current-context: grey
kind: Config
preferences: {}
users:
- name: grey-kubernetes
  user:
    client-certificate: /root/.kube/deploy.crt
    client-key: /root/.kube/deploy.key
